[Unit]
Description=Generate alerts for missing data
Wants=postgres.service

[Service]
WorkingDirectory=/home/chiller/HIL-Sim/data
Environment=PYTHONPATH=/home/chiller/HIL-Sim:$PYTHONPATH
ExecStart=/usr/bin/python3 alerts.py
User=chiller

[Install]
WantedBy=multi-user.target