[Unit]
Description=Collect sensor data from x2 boiler
Wants=postgres.service

[Service]
WorkingDirectory=/home/btmdrl/HIL-Sim/flexlab/drivers
ExecStart=/home/btmdrl/anaconda3/bin/python boiler.py
User=btmdrl

[Install]
WantedBy=multi-user.target