[Unit]
Description=Collect Flexlab data
Wants=postgres.service

[Service]
WorkingDirectory=/home/btmdrl/HIL-Sim/flexlab/drivers
ExecStart=/home/btmdrl/anaconda3/bin/python cell_data.py
User=btmdrl

[Install]
WantedBy=multi-user.target